### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [1]:
a=100

In [2]:
## Declaring And Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True
myname="Nag"

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)
print("MyName : ",myname)

age : 32
Height: 6.1
Name: Krish
MyName :  Nag

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="KRish"
last_name="Naik"

In [6]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1710987940.py, line 4)

In [7]:
## case sensitivity
name="Krish"
Name="Naik"

False

In [10]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [11]:
## Type Checking and Conversion

type(height)

float

In [13]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age='25'
print(type(int(age)))

<class 'int'>

In [16]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [17]:
height=5.11
type(height)

float

In [19]:
float(int(height))

5.0

In [20]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [26]:
## input

age=int(input("What is the age"))
print(age,type(age))

23 <class 'int'>

In [27]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 66.0
Difference: 46.0
Product: 560.0
Quotient: 5.6

In [ ]:
str='hello'
print(str, type(str))

hello <class 'str'>

23 <class 'int'>

In [5]:

print(age, type(age))
print(height, type(height))
# Type Conversion Examples
# Integer to float
age_float = float(age)
print("Integer to float:", age_float, type(age_float))

# Integer to string
age_str = str(age)
print("Integer to string:", age_str, type(age_str))

# Integer to boolean
age_bool = bool(age)
print("Integer to boolean:", age_bool, type(age_bool))

# Float to integer
height_int = int(height)
print("Float to integer:", height_int, type(height_int))

# Float to string
height_str = str(height)
print("Float to string:", height_str, type(height_str))

# Float to boolean
height_bool = bool(height)
print("Float to boolean:", height_bool, type(height_bool))

# Boolean to integer
student_int = int(is_student)
print("Boolean to integer:", student_int, type(student_int))

# Boolean to float
student_float = float(is_student)
print("Boolean to float:", student_float, type(student_float))

# Boolean to string
student_str = str(is_student)
print("Boolean to string:", student_str, type(student_str))

# String to integer (if possible)
myname_int = None
try:
    myname_int = int(myname)
except ValueError:
    print(f"Cannot convert '{myname}' to int")

# String to float (if possible)
myname_float = None
try:
    myname_float = float(myname)
except ValueError:
    print(f"Cannot convert '{myname}' to float")

# String to boolean
myname_bool = bool(myname)
print("String to boolean:", myname_bool, type(myname_bool))

# String to list
name_list = list(name)
print("String to list:", name_list, type(name_list))

32 <class 'int'>
6.1 <class 'float'>
Integer to float: 32.0 <class 'float'>
Integer to string: 32 <class 'str'>
Integer to boolean: True <class 'bool'>
Float to integer: 6 <class 'int'>
Float to string: 6.1 <class 'str'>
Float to boolean: True <class 'bool'>
Boolean to integer: 1 <class 'int'>
Boolean to float: 1.0 <class 'float'>
Boolean to string: True <class 'str'>
Cannot convert 'Nag' to int
Cannot convert 'Nag' to float
String to boolean: True <class 'bool'>
String to list: ['K', 'r', 'i', 's', 'h'] <class 'list'>

### Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.