d#### Loops
Video Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [1]:
range(5)

range(0, 5)

In [1]:
## for loop

for i in range(3):
    print(i)

0
1
2

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [10]:
## strings

str="Krish Naik"

for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [11]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [14]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break sstatement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [15]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [18]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [19]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [20]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [21]:
n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [1]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [3]:
score =85
if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")

B

#### Conclusion:
Loops are powerful constructs in Python that allow you to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break, continue, and pass, you can handle a wide range of programming tasks efficiently.

In [15]:
s=""
for i in range(0,-5,-1):
    print(i)

0
-1
-2
-3
-4

In [1]:
names = ["Ramesh", "Raju", "Ramu"]

for index, name in enumerate(names):
  print(index+1, name)

1 Ramesh
2 Raju
3 Ramu

In [5]:
names = ["Ramesh", "Raju", "Ramu"]

for index in enumerate(names):
  print(names[index])

TypeError: list indices must be integers or slices, not tuple

In [4]:
names = ["Ramesh", "Raju", "Ramu"]

for index, name in enumerate(names):
  print(names[index])

Ramesh
Raju
Ramu

In [6]:
for index in range(len(names)):
    print(names[index])

Ramesh
Raju
Ramu

In [7]:
names = ["Ramesh", "Raju", "Ramu", "Somu"]
scores = [80, 70, 65, 55]

for name, score in zip(names, scores):
  print(f"{name} scored {score}")

Ramesh scored 80
Raju scored 70
Ramu scored 65
Somu scored 55

In [8]:
names = ["Ramesh", "Raju", "Ramu", "Somu"]
scores = [80, 70, 65, 55,66]

for name, score in zip(names, scores):
  print(f"{name} scored {score}")

Ramesh scored 80
Raju scored 70
Ramu scored 65
Somu scored 55

In [ ]:
names = ["Ramesh", "Raju", "Ramu", "Somu","Nag"]
scores = [80, 70, 65, 55]

# The zip function is used to combine two or more iterables (like lists) element-wise.
# It pairs elements from each iterable together, creating tuples.
# Common use case: iterating over multiple lists in parallel.

for name, score in zip(names, scores):
    print(f"{name} scored {score}")

# In this example, zip(names, scores) pairs each name with its corresponding score.
# Output:
# Ramesh scored 80
# Raju scored 70
# Ramu scored 65
# Somu scored 55
# Note: 'Nag' is not printed because scores has only 4 elements; zip stops at the shortest iterable.

Ramesh scored 80
Raju scored 70
Ramu scored 65
Somu scored 55

In [10]:
students = ["Ramesh", "Raju", "Ramu", "Somu"]
scores = [80, 70, 65, 55]
subjects = ['Maths', "Science", "English", "Lang"]

for student, subject, score in zip(students, subjects, scores):
  print(f"{student} scored {score} in {subject}")

Ramesh scored 80 in Maths
Raju scored 70 in Science
Ramu scored 65 in English
Somu scored 55 in Lang

In [ ]:
students_subjects = [
    ["Anil", "Math", "Science", "Tamil", "Social", "Hindi", "Kannada"],
    ["Sunil", "English", "History", "Tamil", "Social", "Hindi", "Kannada"],
    ["Ravi", 'Math', 'Computer', "Tamil", "Social", "Hindi", "Kannada"]
]

for student in students_subjects:
    name = student[0]
    subjects = student[1:]
    # This prints the name and subjects of each student in a formatted string.
    #join() is used to concatenate the subjects into a single string, separated by commas.
    print(f"{name} is studying: {', '.join(subjects)}")

Anil is studying: Math, Science, Tamil, Social, Hindi, Kannada
Sunil is studying: English, History, Tamil, Social, Hindi, Kannada
Ravi is studying: Math, Computer, Tamil, Social, Hindi, Kannada

In [ ]:
students_subjects = [
    ["Anil", "Math", "Science", "Tamil", "Social", "Hindi", "Kannada"],
    ["Sunil", "English", "History", "Tamil", "Social", "Hindi", "Kannada"],
    ["Ravi", 'Math', 'Computer', "Tamil", "Social", "Hindi", "Kannada"]
]

for student in students_subjects:
    name = student[0]
    subjects = student[1:]
    # This prints the name and subjects of each student in a formatted string.
    
    print(f"{name} is studying: {'- '.join(subjects)}")

Anil is studying: Math- Science- Tamil- Social- Hindi- Kannada
Sunil is studying: English- History- Tamil- Social- Hindi- Kannada
Ravi is studying: Math- Computer- Tamil- Social- Hindi- Kannada

In [ ]:
fruits = ['apple', 'banana', "cherry", 100, 200, 85.5, True, False]
fruits[-3:]

[85.5, True, False]

In [1]:
N=5
M=10
N= (N*5)+3-10
if N>M :
    print('Greater!')
elif N==M :
    print('Equal!')
else:
    print('Lesser!')

Greater!

In [14]:
a = [1, 2]
b = [3, 4]

a + b

[1, 2, 3, 4]